<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Welcome to Purge</string>
			<key>alignment</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>footerText</key>
			<string>Excluding the now playing app only applies when music is playing.</string>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Options</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Kill all alert</string>
			<key>default</key>
			<true/>
			<key>key</key>
			<string>warningAlertKey</string>
			<key>defaults</key>
			<string>com.sirifl0w.purge</string>
			<key>PostNotification</key>
			<string>com.sirifl0w.purge.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Auto dismiss switcher</string>
			<key>default</key>
			<true/>
			<key>key</key>
			<string>autoDismissKey</string>
			<key>defaults</key>
			<string>com.sirifl0w.purge</string>
			<key>PostNotification</key>
			<string>com.sirifl0w.purge.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Exclude now playing app</string>
			<key>default</key>
			<true/>
			<key>key</key>
			<string>nowPlayingKey</string>
			<key>defaults</key>
			<string>com.sirifl0w.purge</string>
			<key>PostNotification</key>
			<string>com.sirifl0w.purge.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>followme:</string>
			<key>label</key>
			<string>Follow me on twitter</string>
			<key>icon</key>
			<string>twitterLogo.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Source code</string>
			<key>action</key>
			<string>PSourceCode:</string>
			<key>icon</key>
			<string>githubLogo.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>© 2014, Sirifl0w. Thanks @iJailpod for Purge&apos;s icon.</string>
		</dict>
	</array>
	<key>title</key>
	<string>Purge</string>
</dict>
</plist>
