<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>icon</key>
			<string>PurgeAlert.png</string>
			<key>label</key>
			<string>KALabel</string>
			<key>default</key>
			<true/>
			<key>key</key>
			<string>warningAlertKey</string>
			<key>defaults</key>
			<string>com.sirifl0w.purge</string>
			<key>PostNotification</key>
			<string>com.sirifl0w.purge.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>icon</key>
			<string>PurgeCheckmark.png</string>
			<key>label</key>
			<string>ADLabel</string>
			<key>default</key>
			<true/>
			<key>key</key>
			<string>autoDismissKey</string>
			<key>defaults</key>
			<string>com.sirifl0w.purge</string>
			<key>PostNotification</key>
			<string>com.sirifl0w.purge.settingschanged</string>
		</dict>
		<dict>
			<key>footerText</key>
			<string>NPCondition</string>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>icon</key>
			<string>PurgePlay.png</string>
			<key>label</key>
			<string>NPLabel</string>
			<key>default</key>
			<true/>
			<key>key</key>
			<string>nowPlayingKey</string>
			<key>defaults</key>
			<string>com.sirifl0w.purge</string>
			<key>PostNotification</key>
			<string>com.sirifl0w.purge.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>BLDescription</string>
		</dict>
		<dict>
			<key>bundle</key>
			<string>AppList</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>icon</key>
			<string>PurgePrivacy.png</string>
			<key>label</key>
			<string>BLLabel</string>
			<key>isController</key>
			<string>1</string>
			<key>ALChangeNotification</key>
			<string>com.sirifl0w.purge.settingschanged</string>
			<key>ALSettingsPath</key>
			<string>/var/mobile/Library/Preferences/com.sirifl0w.purge.plist</string>
			<key>ALSingleEnabledMode</key>
			<true/>
			<key>ALSettingsKey</key>
			<string>blacklistKey</string>
			<key>ALSectionDescriptors</key>
			<array>
				<dict>
					<key>title</key>
					<string>System Applications</string>
					<key>predicate</key>
					<string>isSystemApplication = TRUE</string>
					<key>cell-class-name</key>
					<string>ALCheckCell</string>
					<key>icon-size</key>
					<string>29</string>
					<key>suppress-hidden-apps</key>
					<string>1</string>
				</dict>
				<dict>
					<key>title</key>
					<string>User Applications</string>
					<key>predicate</key>
					<string>isSystemApplication = FALSE</string>
					<key>cell-class-name</key>
					<string>ALCheckCell</string>
					<key>icon-size</key>
					<string>29</string>
					<key>suppress-hidden-apps</key>
					<string>1</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
